### Project Name - LOCAL FOOD WASTAGE MANAGEMENT SYSTEM

#### Project Type   - Applied Data Science, EDA, Data-Driven Application Development, End-to-End Data Science Pipeline

#### Contribution   - Individual
###### Name: SREEPRATHAP M

#### 1. Setup & Data Preparation

#####  1.1: Import Libraries in Python

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from mysql.connector import Error

##### 1.2: Load CSV Datasets

In [2]:
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
food_listings = pd.read_csv("food_listings_data.csv")
claims = pd.read_csv("claims_data.csv")

#### 2. Database Creation & Connection

##### 2.1 MySQL connection Establishment

In [3]:
conn = mysql.connector.connect(
    host="localhost",   
    user="systemmanage", # update your username
    password="System123" # update your password
)
cursor = conn.cursor()

##### 2.2 Createing Database in MySQL database

In [4]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_wastage")
cursor.close()
conn.close()

##### 2.3 Create Tables

In [5]:

MYSQL_HOST = "127.0.0.1"            # check your credetial are correct
MYSQL_PORT = 3306                   # check your credetial are correct
MYSQL_USER = "systemmanage"         # update your username
MYSQL_PASSWORD = "System123"        # update your password
DATABASE_NAME = "food_wastage"      # storing data base to variable
TABLE_NAME1 = "providers_data"      # storing table name to variable
TABLE_NAME2 = "claims_data"         # storing table name to variable
TABLE_NAME3 = "food_listings_data"  # storing table name to variable
TABLE_NAME4 = "receivers_data"      # storing table name to variable

try:
    print("Checking MySQL connection...")
    conn = mysql.connector.connect(
        host=MYSQL_HOST,
        port=MYSQL_PORT,
        user=MYSQL_USER,
        password=MYSQL_PASSWORD
    )
    if conn.is_connected():
        print(f"Connected to MySQL server at {MYSQL_HOST}:{MYSQL_PORT}")

        cursor = conn.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {DATABASE_NAME}")
        print(f"Database '{DATABASE_NAME}' is ready.")


        # Create SQLAlchemy engine for data insertion
        engine = create_engine(
            f"mysql+mysqlconnector://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{DATABASE_NAME}"
        )

        # Insert into MySQL (auto-create table)
        providers.to_sql(TABLE_NAME1, con=engine, if_exists="replace", index=False)
        print(f"Table '{TABLE_NAME1}' created and data inserted.")

        claims.to_sql(TABLE_NAME2, con=engine, if_exists="replace", index=False)
        print(f"Table '{TABLE_NAME2}' created and data inserted.")

        food_listings.to_sql(TABLE_NAME3, con=engine, if_exists="replace", index=False)
        print(f"Table '{TABLE_NAME3}' created and data inserted.")

        receivers.to_sql(TABLE_NAME4, con=engine, if_exists="replace", index=False)
        print(f"Table '{TABLE_NAME4}' created and data inserted.")

        cursor.close()
        conn.close()

except Error as e:
    print(f"MySQL connection failed: {e}")
    print("Possible fixes: Check MySQL service, host, port, username, and password.")

Checking MySQL connection...
Connected to MySQL server at 127.0.0.1:3306
Database 'food_wastage' is ready.
Table 'providers_data' created and data inserted.
Table 'claims_data' created and data inserted.
Table 'food_listings_data' created and data inserted.
Table 'receivers_data' created and data inserted.

### 3. CRUD Operations (Python + SQL)

In [6]:
conn = mysql.connector.connect(
    host="localhost",
    user="systemmanage",
    password="System123",
    database="food_wastage"
)
cursor = conn.cursor()

#### 3.1 Inserting data to table

In [7]:
# Insert Data
cursor.execute("INSERT INTO providers_data VALUES (1001, 'ABC Restaurant', 'Restaurant', '123 Street', 'CityX', '9876543210')")
conn.commit()

#### 3.2 Reading added data from table

In [8]:
# Read Data
cursor.execute("SELECT *  FROM providers_data WHERE Provider_ID = 1001")
result1001 = cursor.fetchall()
print(f'Updated row is: {", ".join(map(str,result1001[0]))}')

Updated row is: 1001, ABC Restaurant, Restaurant, 123 Street, CityX, 9876543210

#### 3.3 Updateing data to a row

In [9]:
# Update Data
cursor.execute("UPDATE providers_data SET Contact=9876543210 WHERE Provider_ID=1001")
conn.commit()
cursor.execute("SELECT Contact FROM providers_data WHERE Provider_ID = 1001")
result_contact = cursor.fetchall()
print(f'Updated Phone Number is: {",".join(result_contact[0])}')

Updated Phone Number is: 9876543210

#### 3.4 Deleting data from a table

In [10]:
# Delete Data
cursor.execute("DELETE FROM providers_data WHERE Provider_ID=1001")
conn.commit()
cursor.execute("SELECT Contact FROM providers_data WHERE Provider_ID = 1001")
result_contact = cursor.fetchall()
print(f'Deletion result of row 1001: {result_contact}')

Deletion result of row 1001: []

#### 4 MySQL Qurey EDA

In [11]:
conn = mysql.connector.connect(
    host="localhost",
    user="systemmanage",
    password="System123",
    database="food_wastage"
)
cursor = conn.cursor()

#### 4.1 Viewing tables

In [12]:
cursor.execute("SHOW TABLES")
Tables = cursor.fetchall()
print(f'''
-------------------------------
columns in providers_data table
-------------------------------
''')
for col in Tables:
    print(col[0])

-------------------------------
columns in providers_data table
-------------------------------

claims_data
food_listings_data
providers_data
receivers_data

#### 4.2 Viewing Columns in tables

In [13]:
cursor.execute("SHOW COLUMNS FROM claims_data")
claims_data_columns = cursor.fetchall()
print(f'''
-------------------------------
columns in claims_data table
-------------------------------
''')
for col in claims_data_columns:
    print(col[0])

cursor.execute("SHOW COLUMNS FROM food_listings_data")
food_listings_data_columns = cursor.fetchall()
print(f'''
-------------------------------
columns in food_listings_data table
-------------------------------
''')
for col in food_listings_data_columns:
    print(col[0])

cursor.execute("SHOW COLUMNS FROM providers_data")
providers_data_columns = cursor.fetchall()
print(f'''
-------------------------------
columns in providers_data table
-------------------------------
''')
for col in providers_data_columns:
    print(col[0])

cursor.execute("SHOW COLUMNS FROM receivers_data")
receivers_data_columns = cursor.fetchall()
print(f'''
-------------------------------
columns in receivers_data table
-------------------------------
''')
for col in receivers_data_columns:
    print(col[0])

-------------------------------
columns in claims_data table
-------------------------------

Claim_ID
Food_ID
Receiver_ID
Status
Timestamp

-------------------------------
columns in food_listings_data table
-------------------------------

Food_ID
Food_Name
Quantity
Expiry_Date
Provider_ID
Provider_Type
Location
Food_Type
Meal_Type

-------------------------------
columns in providers_data table
-------------------------------

Provider_ID
Name
Type
Address
City
Contact

-------------------------------
columns in receivers_data table
-------------------------------

Receiver_ID
Name
Type
City
Contact

#### 4.3 Null Column finding

In [14]:

# Get column names dynamically
cursor.execute("SHOW COLUMNS FROM claims_data")
claims_data_columns = [col[0] for col in cursor.fetchall()]


# Build WHERE clause to check NULL in any column
null_conditions = " OR ".join([f"{col} IS NULL" for col in claims_data_columns])

# Query rows where any column is NULL
query = f"SELECT * FROM claims_data WHERE {null_conditions}"
cursor.execute(query)

# Fetch results
rows = cursor.fetchall()

# Print results

null_col_claims_data=[0]
for row in rows:
    null_col_claims_data+1
print(f"The null column for claims_data are:{null_col_claims_data[0]}")

The null column for claims_data are:0

#### 4.4 Null value in Address

In [15]:
cursor.execute("SELECT COUNT(*) AS null_count FROM providers_data WHERE Address IS NULL")
result1 = cursor.fetchall()
print(f'''
--------------------------------------------------------
1. Null in Address column of Provides data table
--------------------------------------------------------

{result1}
''')

--------------------------------------------------------
1. Null in Address column of Provides data table
--------------------------------------------------------

[(0,)]

#### 4.5 Most frequent food providers

In [16]:
cursor.execute("SELECT Type, COUNT(*) AS Count FROM providers_data GROUP BY Type ORDER BY Count DESC")
result2 = cursor.fetchall()
print(f'''
-------------------------------------------------
2. Most contributing provider type
-------------------------------------------------

{result2}
''')

-------------------------------------------------
2. Most contributing provider type
-------------------------------------------------

[('Supermarket', 262), ('Grocery Store', 256), ('Restaurant', 246), ('Catering Service', 236)]

#### 4.6 Food availablity

In [17]:
cursor.execute("SELECT SUM(Quantity) AS TotalFood FROM food_listings_data")
result3 = cursor.fetchall()
print(f'''
-------------------------------------------------
3. Total quantity of food available
-------------------------------------------------

{result3}
''')

-------------------------------------------------
3. Total quantity of food available
-------------------------------------------------

[(Decimal('25794'),)]

#### 4.7 food Claims

In [18]:
cursor.execute("SELECT Status, COUNT(*) AS TotalClaims FROM claims_data GROUP BY Status")
result4 = cursor.fetchall()
print(f'''
-------------------------------------------------
4. Claims by status
-------------------------------------------------
{result4}''')

-------------------------------------------------
4. Claims by status
-------------------------------------------------
[('Pending', 325), ('Cancelled', 336), ('Completed', 339)]

### 5. Streamlit App development

#### 5.1 Streamlit App for MySql Query

In [19]:
%%writefile FoodWastageQuery.py
import streamlit as st
import pandas as pd
import mysql.connector

st.set_page_config(page_title="Basic Query",layout="wide")

def create_connection():
    return mysql.connector.connect(
            host="127.0.0.1",
            user="systemmanage",       
            password="System123",      
            database="food_wastage"    
        )


def run_query(query):
    conn = create_connection()
    cursor = conn.cursor(dictionary=True)
    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()
    return pd.DataFrame(rows)

# ----------------------------
# Sidebar Filters
# ----------------------------
st.sidebar.header("Filter Options")

city_filter = st.sidebar.text_input("City (leave blank for all)")
Location_filter = st.sidebar.text_input("Location (leave blank for all)")
provider_filter = st.sidebar.text_input("Name (leave blank for all)")
food_filter = st.sidebar.text_input("Food_Type (leave blank for all)")
meal_filter = st.sidebar.text_input("Meal Type (leave blank for all)")

filters = []
if city_filter:
    filters.append(f"city = '{city_filter}'")
if Location_filter:
    filters.append(f"Location = '{Location_filter}'")
if provider_filter:
    filters.append(f"Name = '{provider_filter}'")
if food_filter:
    filters.append(f"Food_Type = '{food_filter}'")
if meal_filter:
    filters.append(f"Meal_Type = '{meal_filter}'")

where_clause = " AND ".join(filters)
if where_clause:
    where_clause = "WHERE " + where_clause

# ----------------------------
# Example Queries
# ----------------------------
queries = {
#--------------------------------------------------------------------------------------------------------------
    # 1.food proviers data
#--------------------------------------------------------------------------------------------------------------
    "Food Providers": f"SELECT * FROM providers_data {where_clause}",

#--------------------------------------------------------------------------------------------------------------
    # 2.food Receivers data
#--------------------------------------------------------------------------------------------------------------
    "Food Receivers": f"SELECT * FROM receivers_data {where_clause}",
    
#--------------------------------------------------------------------------------------------------------------
    # 3.How many food providers and receivers are there in each city.
#--------------------------------------------------------------------------------------------------------------
     "Food providers and receivers in each city": f"""SELECT
    City,
    SUM(total_providers) AS total_providers,
    SUM(total_receivers) AS total_receivers
FROM (
    SELECT City, COUNT(DISTINCT Provider_ID) AS total_providers, 0 AS total_receivers
    FROM providers_data
    GROUP BY City

    UNION ALL

    SELECT City, 0 AS total_providers, COUNT(DISTINCT Receiver_ID) AS total_receivers
    FROM receivers_data
    GROUP BY City
) AS combined
{where_clause}
GROUP BY City
ORDER BY City;""",

#--------------------------------------------------------------------------------------------------------------
    # 4.Which type of food provider(restarant,grocery store) contributes the most food.
#--------------------------------------------------------------------------------------------------------------
    "Most valuable food provider":f"""SELECT max(Provider_Type) AS Food_Providers FROM food_listings_data;""",

#--------------------------------------------------------------------------------------------------------------
    # 5.What is the contact information of food providers in a specific city.
#--------------------------------------------------------------------------------------------------------------
    "Contact information of food providers": f"SELECT Name,Address,Contact FROM providers_data {where_clause}",

#--------------------------------------------------------------------------------------------------------------
    # 6. Which receivers have claimed the most food.
#--------------------------------------------------------------------------------------------------------------
    "Most frequnt Food claimer": f"""SELECT Name 
FROM receivers_data
WHERE Receiver_ID IN (
    SELECT max(Receiver_ID)
    FROM claims_data
    WHERE Status = 'Completed'
);""",

#--------------------------------------------------------------------------------------------------------------
    # 7.What is the total quantity of food available form all provides.
#--------------------------------------------------------------------------------------------------------------
    "Total Quantity of food": f"""SELECT sum(Quantity) AS Total_food FROM food_listings_data
                    WHERE Provider_ID IN (SELECT Provider_ID FROM providers_data);""",

#--------------------------------------------------------------------------------------------------------------
    # 8.Which city hast the highest numnber of food listing.
#--------------------------------------------------------------------------------------------------------------
    "Highest Count of City": f"""SELECT Location AS City_Name, COUNT(*) AS Highest_count 
        FROM food_listings_data {where_clause} GROUP BY Location ORDER BY Highest_count DESC""",

#--------------------------------------------------------------------------------------------------------------
    # 9.What are the most commonly available food types.
#--------------------------------------------------------------------------------------------------------------
    "Common Food types": f"""
     SELECT Food_Type AS Type, COUNT(*) AS count
     FROM food_listings_data
     {where_clause} 
     GROUP BY Food_Type
     ORDER BY count DESC""",

#--------------------------------------------------------------------------------------------------------------
    # 10.How Many food claims have been made for each food item.
#--------------------------------------------------------------------------------------------------------------
    "Food Claim Details": f"""
     SELECT Food_Name, COUNT(*) AS count
     FROM food_listings_data
     WHERE Food_ID IN (SELECT Food_ID FROM claims_data) 
     GROUP BY Food_Name
     ORDER BY count DESC""",

#--------------------------------------------------------------------------------------------------------------
    # 11.Which Provider has had the highest number of successful food claims.
#--------------------------------------------------------------------------------------------------------------
    "Highes Food climes": f"""
     SELECT Name, COUNT(Provider_ID) AS provider_count
     FROM providers_data
     WHERE Provider_ID IN (SELECT Provider_ID FROM food_listings_data)
     GROUP BY Name
     ORDER BY provider_count DESC""",

#--------------------------------------------------------------------------------------------------------------
    # 12.What percentage of food claims are completed vs. pending vs canceled
#--------------------------------------------------------------------------------------------------------------
    "Claim Percentage": f"""
    SELECT 
    Status,
    COUNT(*) AS count,
    ROUND(100 * COUNT(*) / (SELECT COUNT(*) FROM claims_data), 2) AS percentage
    FROM claims_data
    GROUP BY Status;""",

#--------------------------------------------------------------------------------------------------------------
    # 13.What are the average quantiy of food claimed per receiver
#--------------------------------------------------------------------------------------------------------------
    "Food Claimed per receiver": f"""SELECT 
    r.Receiver_ID,
    r.Name,
    COUNT(c.Claim_ID) AS total_claims
    FROM 
    receivers_data r
    LEFT JOIN 
    claims_data c ON r.Receiver_ID = c.Receiver_ID
    GROUP BY 
    r.Receiver_ID, r.Name
    ;""",

#--------------------------------------------------------------------------------------------------------------
    # 14.Which meal type(brekfast,lunch,dinner,snacks) is claimed the most
#--------------------------------------------------------------------------------------------------------------
    "Meal type claimed": f"""
    SELECT  Meal_type as Meal, count(Meal_Type) as Conts
    FROM food_listings_data
    {where_clause}
    GROUP BY Meal_type
    ORDER BY Conts DESC;""",

#--------------------------------------------------------------------------------------------------------------
    # 15.What is the total quantiy of food donated by each provider.
#--------------------------------------------------------------------------------------------------------------
    "Quantity by Provider": f"""SELECT 
    p.Name,
    SUM(f.Quantity) AS Total_Food_donated
    FROM 
    providers_data p
    JOIN 
    food_listings_data f ON p.Provider_ID = f.Provider_ID
    {where_clause}
    GROUP BY 
    p.Name;""",
    
}

# ----------------------------
# UI to Select Query
# ----------------------------
st.title("Food Wastage Management Query")

selected_query = st.selectbox("Select a Query", list(queries.keys()))

if st.button("Run Query"):
    df = run_query(queries[selected_query])
    st.dataframe(df)

    # Optional: Download button
    st.download_button("Download CSV", df.to_csv(index=False), "result.csv", "text/csv")

Overwriting FoodWastageQuery.py

#### 5.2 Streamlit App for CRUD operrations

In [25]:
%%writefile LFWMS.py
import streamlit as st
import pandas as pd
import mysql.connector

st.set_page_config(page_title="Food data Entry",layout="wide")

# --- DB connection ---
def create_connection():
    return mysql.connector.connect(
            host="127.0.0.1",
            user="systemmanage",       
            password="System123",     
            database="food_wastage"    
        )

# --- Fetch tables ---
def get_tables():
    conn = create_connection()   # changed
    cursor = conn.cursor()
    cursor.execute("SHOW TABLES")
    tables = [row[0] for row in cursor.fetchall()]
    conn.close()
    return tables

# --- Load data ---
def load_data(table_name):
    conn = create_connection()   # changed
    df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
    conn.close()
    return df

# --- Add record ---
def add_record(table_name, values):
    conn = create_connection()   # changed
    cursor = conn.cursor()
    placeholders = ", ".join(["%s"] * len(values))
    query = f"INSERT INTO {table_name} VALUES ({placeholders})"
    cursor.execute(query, values)
    conn.commit()
    conn.close()

# --- Get record by ID ---
def get_record_by_id(table_name, pk_column, pk_value):
    conn = get_connection()
    cursor = conn.cursor(dictionary=True)
    cursor.execute(f"SELECT * FROM {table_name} WHERE {pk_column}=%s", (pk_value,))
    record = cursor.fetchone()
    conn.close()
    return record

# --- Update record ---
def update_record(table_name, pk_column, pk_value, updates):
    old_record = get_record_by_id(table_name, pk_column, pk_value)
    if not old_record:
        return False

    # Keep old values if blank
    for col in updates:
        if updates[col] == "" or updates[col] is None:
            updates[col] = old_record[col]

    set_clause = ", ".join([f"{col}=%s" for col in updates.keys()])
    values = list(updates.values()) + [pk_value]

    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute(f"UPDATE {table_name} SET {set_clause} WHERE {pk_column}=%s", values)
    conn.commit()
    conn.close()
    return True

# --- Delete record ---
def delete_record(table_name, pk_column, pk_value):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute(f"DELETE FROM {table_name} WHERE {pk_column}=%s", (pk_value,))
    conn.commit()
    conn.close()

# --- Streamlit UI ---
st.title("Food wast Data management ")
tables = ["claims_data", "food_listings_data","providers_data", "receivers_data"] 

tables = get_tables()
selected_table = st.sidebar.selectbox("Select Table", tables)
menu = ["View", "Add", "Update", "Delete"]
choice = st.sidebar.selectbox("Menu", menu)

if choice == "View":
    st.subheader(f"All Records from {selected_table}")
    df = load_data(selected_table)
    st.dataframe(df)

elif choice == "Add":
    st.subheader(f"Add Record to {selected_table}")
    df = load_data(selected_table)
    cols = df.columns.tolist()

    inputs = []
    for col in cols:
        val = st.text_input(f"{col}")
        inputs.append(val)

    if st.button("Add"):
        add_record(selected_table, inputs)
        st.success("Record added successfully!")

elif choice == "Update":
    st.subheader(f"Update Record in {selected_table}")
    df = load_data(selected_table)
    st.dataframe(df)

    pk_column = df.columns[0]   # assume first column is primary key
    pk_value = st.text_input(f"Enter {pk_column} of record to update")

    updates = {}
    for col in df.columns[1:]:
        updates[col] = st.text_input(f"{col} (leave blank to keep old)")

    if st.button("Update"):
        if update_record(selected_table, pk_column, pk_value, updates):
            st.success("Record updated successfully!")
        else:
            st.error("Record not found!")

elif choice == "Delete":
    st.subheader(f"Delete Record from {selected_table}")
    df = load_data(selected_table)
    st.dataframe(df)

    pk_column = df.columns[0]   # assume first column is primary key
    pk_value = st.text_input(f"Enter {pk_column} of record to delete")

    if st.button("Delete"):
        delete_record(selected_table, pk_column, pk_value)
        st.warning("Record deleted successfully!")

Writing LFWMS.py

#### 5.3 Wellcome Page of Streamlite App

###### Copy the above curd.py and FoodWastageQuery.py files in pages folder after runing the above tow cells. ######
###### run the welcome.py file from panda command line as "your dir path\streamlit run welcome.py" ######

In [24]:

%%writefile welcome.py
import streamlit as st

st.set_page_config(page_title="Home",layout="wide")

st.markdown(
    "<h1 style='text-align: center; color: green;'><u>Local Food Wastage Management System (LFWMS)</u></h1>",
    unsafe_allow_html=True
)
col1, col2, col3 = st.columns([1,2,1])  # middle column is wider
with col2:
    st.image("images/food.jpg", caption="Food Waste Management", use_container_width=True)

# Only link files from inside /pages
st.sidebar.page_link("pages/LFWMS.py", label="Food data Entry")
st.sidebar.page_link("pages/FoodWastageQuery.py", label="Basic Query")

st.write(f'''Welcome to the Local Food Wastage Management System (LFWMS). 
This platform is designed to connect restaurants and individuals with surplus 
food to those in need, helping reduce food waste and address food insecurity in 
your community. By leveraging technology, geolocation, and data analysis, LFWMS 
makes it easy to list, find, and claim surplus food while promoting responsible 
food management and social good. Join us in building a more sustainable and 
compassionate futureâ€”one meal at a time.''')

Overwriting welcome.py